.addUser{
    padding: 30px;
    background-color: #ffffff;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 1px 0.5px 0.5px 0.5px rgba(201, 201, 201, 0.659);

    form{
        display: flex;
        gap: 20px;

        input{
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            width: 300px;
            background-color: #F0F3F6;
        }

        button{
            padding: 20px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color:#F0F3F6;
        }
        
    }

    .user{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .details{
           display: flex;
           flex-direction: row;
           align-items: center;
           gap: 20px;

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            span{
                font-size: 16px;
            }
        }

        button{
            padding: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            background-color:aliceblue;
        }
    }
}