.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }
    .icon {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #4d3434;
          }
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img{
            width: 100%;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: rgba(17, 25, 40, 0.3);
        }
        span {
          font-size: 13px;
        }
      }

      p {
        padding: 10px 20px;
        border-radius: 16px;
        background-color: #dddddd35;
        color: white;
        font-size: 16px;
        font-weight: 300;
      }

      span {
        font-size: 14px;
        color: #a5a5a5;
      }
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;

    .icon {
      display: flex;
      gap: 20px;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    input {
      flex: 1;
      background-color: #dddddd35;
      border: none;
      outline: none;
      color: white;
      border-radius: 16px;
      padding: 15px 30px;
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .sendButton {
      background-color: #4d3434;
      color: white;
      padding: 10px 20px;
      border-radius: 16px;
      cursor: pointer;
    }
  }
}
