.userInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
    background-color: rgba(255, 255, 255, 0.363);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    position: sticky;
    

    .user{
        display: flex;
        align-items: center;
        gap: 20px;

        h2{
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-weight: thin;
        }

        span{
            font-size: 10px;
            color: rgb(196, 255, 196);
            background-color: green;
            padding: 3px;
            border-radius: 10px;
            width: 100px;
        }

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: #BFE8E1;
        padding: 10px;
        border-radius: 10px;
        

        img{
            width: 20px;
            height: 20px;
        }
    }

    
}