.chat {
    flex: 2;
    border-left: 1px solid #dddddd35 ;
    border-right: 1px solid #dddddd35 ;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }

            .texts {
                flex-direction: column;
                display: flex;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-weight: 300;
                    font-size: 14px;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        scrollbar-color: #000000 rgb(120, 119, 119);
        scrollbar-width: thin;

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;

                .texts {
                    p {
                        background-color: #5183fe;
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts{
                flex: 1;
                flex-direction: column;
                display: flex;
                gap: 5px;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                p {
                    padding: 20px;
                    background-color: rgba(17, 25, 40, 0.3);
                    border-radius: 10px;
                }

                span {
                    font-size: 13px;
                }
            }
        }
    }
    .bottom {
        margin-top: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            outline: none;
            border: none;
            color: white;
            padding: 20px;
            font-size: 16px;
            border-radius: 10px;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;

            }
        }

        .sendButton {
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}