* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;


}

body {
  /* background-image: url("/background.jpg"); */
  background-color: #EDF0F5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  overflow: hidden;

}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  margin-top: 3rem;
  background-color: #FFFFFF;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  /* position:static; */
}

.list {
  overflow: scroll;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
}