:root {
    --toastify-color-success: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
}

body {
    background-image: url('/bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    width: 80vw;
    height: 90vh;
    background-color: rgba(151, 164, 177, 0.631);
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.296);
}
.loading {
    padding: 50px;
    font-size: 36px;
    border-radius: 10px;
    background-color: rgba(151, 164, 177, 0.631);
}
